<header class="header-container">
    <nav class="nav-container">
      <img class="img-logo-sedih" src="" alt="Logo SEDIH" />
        <a href="#home">
          <img class="img-sair" src="" alt="Sair" />
        </a>
    </nav>
</header>
<main>
    <section id="section-main">
      <div class="p-card-title"> PLANEJAMENTO e GESTÃO - SEDIH </div>
      <app-mainpainel></app-mainpainel>
    </section>
</main>
<footer>
    <div class="footer-container">
      <a
        class="container-f-img"
        href="http://WWW.DIREITOSHUMANOS.CE.GOV.BR"
      >
        <img src="" alt="Logo Ceará - SEDIH" />
      </a>
      <div class="container-f">
        <p>
          <br/>
          Sede da Secretaria dos Direitos Humanos
          <br />
          Rua Valdetário Mota, 970 - Papicu
          <br />
          Fortaleza, CE
          <br />
          CEP: 60175-742
        </p>
      </div>
    </div>
  </footer>
