.section-container-card {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 40px 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}